{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<link rel="stylesheet" href="{% static 'css/mcdp.css' %}">
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/headphones/headphone-detail.css' %}"
/>
<script defer src="{% static 'js/headphone-detail.js' %}"></script>
{% endblock %}

{% block content %}

<section class="cat-container">
  <div class="cat-img">
    <img 
      src="{% static 'images/sk8r-boi-cat.svg' %}" 
      alt="A skater boy cat"
    >
  </div>
  <div class="cat-details">
    <h1>{{ headphone.model }}</h1>
    <h2>Brand: {{ headphone.make }}</h2>
    <h2>Style: {{ headphone.style }}</h2>
    <p>{{ headphone.description }}</p>
    <div class="cat-actions">
      <a href="{% url 'headphones_update' headphone.id %}" class="btn warn">Edit</a>
      <a href="{% url 'headphones_delete' headphone.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</section>
<div class="feedings-toy-container">
  <section class="feedings">
    <div class="subsection-title">
      <h2>Listening Sessions</h2>
      <img 
        src="{% static 'images/cat-cone.svg' %}" 
        alt="An ice cream cone cat"
      />
      <img 
        src="{% static 'images/cat-onigiri.svg' %}"
        alt="A cat as onigiri"
      />
      <img 
        src="{% static 'images/kitty-kabob.svg' %}" 
        alt="A kabob of kittens"
      />
    </div>
    <h3>Add a Session</h3>
    <form
    action="{% url 'add_listened' headphone.id %}"
      method="post" 
      class="subsection-content"
    >
    {% if headphone.listened_for_today %}
      <p class="fed">{{headphone.model}} has been used today!</p>
    {% else %}
      <p class="unfed">{{headphone.model}} has not been used today!</p>
    {% endif %}
      {% csrf_token %}
      {{ listened_form.as_p }}
      <button type="submit" class="btn submit">Add Session</button>
    </form>
    <h3>Past Sessions</h3>
    {% if headphone.listened_set.all.count %}
    <table>
      <thead>
        <tr><th>Date</th><th>Time</th></tr>
      </thead>
      <tbody>
        {% for listened in headphone.listened_set.all %}
          <tr>
            <td>{{listened.date}}</td>
            <td>{{listened.time_hrs}} hr/s and {{listened.time_mins}} min/s</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
			<div class="subsection-content">
        <p>{{headphone.model}} has never been used 😔</p>
      </div>
    {% endif %}
  </section>
  <section class="toys">
    <div class="subsection-title">
      <h2>Equipment</h2>
      <img src="{% static 'images/string.svg' %}" alt="A ball of string" />
      <img src="{% static 'images/mouse.svg' %}" alt="A mouse" />
      <img src="{% static 'images/fish.svg' %}" alt="A fishy toy" />
    </div>
    <h3>{{ headphone.model }}'s Equipment</h3>
    <div class="subsection-content">
      {% if headphone.equipment.count %}
        {% for equipment in headphone.equipment.all %}
          <div class="toy-container">
            <div 
              class="color-block"
              style="background-color: {{ grey }}"
            ></div>
            <a href="{% url 'equipment_detail' equipment.id %}">
              <p>A {{ equipment.make }}</p>
            </a>
          </div>
        {% endfor %}
      {% else %}
        <p class="no-toys">{{headphone.model}} doesn't have any equipment 😞</p>
      {% endif %}
    </div>
    <h3>Available Equipment</h3>
    <div class="subsection-content">
      {% if equipment.count %}
        {% for equipment in equipment.all %}
          <div class="toy-container">
            <div 
              class="color-block"
              style="background-color: {{ grey }}"
            ></div>
            <a href="{% url 'equipment_detail' equipment.id %}">
              <p>A {{ equipment.model }}</p>
            </a>
            <form action="{% url 'assoc_equipment' headphone.id equipment.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn submit">Add Equipment</button>
            </form>
          </div>
        {% endfor %}
      {% else %}
        <p class="all-toys">
          {{headphone.make}} already has all the available equipment 🥳
        </p>
      {% endif %}

    </div>
  </section>
</div>

{% endblock %}
